<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248879074977-mqtlv5nqdr5d8ci8fd5rgbm7tjgl4s50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248879074977-mqtlv5nqdr5d8ci8fd5rgbm7tjgl4s50</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>248879074977-djb7ruav54draf3egg2qq1m40tu7ghd6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDH6IEZj2nJzet-ZOD_u8l4BKwUu4w5ao0</string>
	<key>GCM_SENDER_ID</key>
	<string>248879074977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.top</string>
	<key>PROJECT_ID</key>
	<string>top11flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>top11flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248879074977:ios:690db63847dae80235aae0</string>
	<key>DATABASE_URL</key>
	<string>https://top11flutter.firebaseio.com</string>
</dict>
</plist>